{% extends 'Home/basic.html' %}

{% block title %}Home{% endblock title %}

{% block homeactive %} active {% endblock homeactive %}
{% block body %}

<div class="container my-3"
    style="background-color: rgb(231, 187, 128);padding-left: 1.5cm;padding-top: 1.5cm;padding-bottom: 2cm;">
    <div class="jumbotron">
        <h1 class="display-5">Welcome to The Blog!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
            featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="/blog" role="button">Go to Blog</a>
    </div>
</div>

<div class="container">
    <h2>Popular Blogposts</h2>
    {% for post in allPosts|slice:":2" %}
    <div
        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">{{post.title}} <span
                    class="badge bg-info text-dark"> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                      </svg> {{post.views}}</span></strong>
            <h3 class="mb-0">{{post.author}}</h3>
            <div class="mb-1 text-muted">{{post.timeStamp}}</div>
            <p class="card-text mb-auto">{{post.content|safe|truncatechars:300}}</p>
            <a href="/blog" class="stretched-link">Continue Reading...</a>
        </div>
        <div class="col-auto d-none d-lg-block">
        <img src="/media/{{post.image}}" height="300" min width = "370" alt="" srcset="">
            {% comment %} <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                    dy=".3em">Thumbnail</text>
            </svg> {% endcomment %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock body %}