{% extends 'Home/basic.html' %}

{% block title %}search{% endblock title %}
{% block blogactive %}active{% endblock blogactive %}
{% block body %}

<div class="container my-3">
    <h2>Search results: </h2>
         {% comment %} {% for msg in nolist %}
     <p> {{msg}} </p>
    {% endfor %} {% endcomment %}
    {% comment %} u can add below syntax also with direct chk allPosts length {% endcomment %}
{% if allPosts|length < 1 %}
<p> Your search query <strong><i>{{query}}</i> </strong> did not match any documents  </p>

{% endif %}
    {% for result in results %}
    <div
        class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">{{result.title}}</strong>
            <h3 class="mb-0">{{result.author}}</h3>
            <div class="mb-1 text-muted">{{result.timeStamp}}</div>
            <p class="card-text mb-auto">{{result.content|truncatechars:300}}</p>
            <a href="/blog/{{result.slug}}" class="stretched-link">Full blog...</a>
        </div>
        <div class="col-auto d-none d-lg-block">
            {% comment %} <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
                    dy=".3em">Thumbnail</text>
            </svg> {% endcomment %}
            <img src="/media/{{result.image}}"
            width="400" height="300" alt="omg" srcset="">
        </div>
    </div>
{% endfor %}
</div>

{% endblock body %}

{% block js %}
<script>


</script>
{% endblock js %}